.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  .canvas-layout {
    background: transparent;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .canvas {
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;
    width: 400px;
    left: 650px;
    top: 200px;
    padding: 10px 0;
    z-index: 2147483647;
  }
  
  .draggable {
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-color: rgb(245, 245, 234);
  }